.btn {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(220, 20, 60);
    color: white;
    
}

.btn:hover {
    background-color: rgb(178, 34, 34);
}

.btn:focus {
    outline: 0;
}